<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="script.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
</head>
	<body>

	

	  <h1> My Robot Controller</h1>
	  	<div class = "button_container">			 
			  <div class = "stop">Stop</div>
			  <div class = "forward">Go Forward</div>
			  <div class = "backward">Go Backward</div>
			  <div class = "strafeRight">Go Down</div>
			  <div class = "strafeLeft">Go Up</div>
			  <div class = "turnLeft">Turn Left</div>
			  <div class ="turnRight">Turn Right</div>
			  <div class = "clear"></div>
		</div>
		<div class = "container">
		   <img style=img src="/assets/beerun.gif" class="robot" />
		   <!-- (<%= image_tag "beerun.gif" %>) -->
		</div>
	</body>
</html>