/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1 {
	font-family: 'Press Start 2P', cursive;
	text-align: center;

}

.button_container div {
	float: left;
	margin-left: 30px;

}

.button_container {
	position:absolute;
	left: 10%;
}

.container {
	position:absolute;
	margin-top: 40px;
	height: 82%;
	width: 99%;
	border-style:dotted;
	border-width:5px;
	margin-left: -3px
}

.clear {
	clear:both;
}

.robot {
	margin-top: 60px;
	position: absolute; left: 10px;
}

div div {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	text: inline;
}

div div:hover {
	color: red;
	font-family: 'Press Start 2P', cursive;
}


